header{
	position:fixed;
	width:100%;
	padding:10px;
	padding-bottom:20px;
	background-image: url('/ponto/public/img/shattered-1920x1080.png');
	background-repeat:no-repeat;
	background-size: 100%;
	/*background-color: #2f3b4b;
    background: -moz-radial-gradient(center 45deg, circle closest-corner, #2f3b4b 0%, #3e4f63 100%);
    background: -webkit-gradient(radial, center center, 10, center center, 900, from(#2f3b4b), to(#3e4f63));*/
    z-index:999;
}

header #text-content-1 p{
	color: #FFF;
	font-weight:800;
	text-align:left;
	float:left;
	margin-left:1px;
}

header #text-content-2 a{
	text-decoration: none;
	font-weight:800;
	text-align:left;
	float:right;
	margin-left:5px;
	color: #FFF;
}

header form label{
	color:#fff;
}

header form .btn{
	margin-top:25px;
}

