body{
	/*background-image: url('/ponto/public/img/fundologin.png');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.line-blue{
	position: absolute;
	width: 100%;
	padding: 0px 1px;
	top:0;
	box-shadow: 0px 0px 8px 2px #666;
}

.form-s1{
	margin-top:80px;
	box-shadow: 0px 0px 10px 1px #999;
	padding: 10px 25px;
	border-radius: 0px 20px 0px 0px ;
	margin-bottom: 2px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.form-s1 label{
	color: #555;	 
}

